* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #1a1a1a;
  min-height: 100vh;
  background-image: url("MainGradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 3px solid #0a4d8c;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 40px;
}

.brand {
  font-size: 14px;
  font-weight: bold;
  color: #0a4d8c;
}

.nav-links a {
  margin: 0 8px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

.portal-btn {
  background: #0a4d8c;
  color: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

 .form-container {
   background-color: #fff;
   padding: 30px;
   border-radius: 12px;
   width: 500px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
   color: #333;
}

 label {
   display: block;
   font-weight: bold;
 }

 input[type="text"],
 input[type="email"],
 textarea,
 select {
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
 }

 input[type="date"],
  select{
   width: 100%;
   padding: 10px;
   margin-top: 5px;
   border: 1px solid #ccc;
   border-radius: 6px;
   box-sizing: border-box;
 }

 textarea {
  resize: vertical;
}

.checkbox-group,
 .radio-group {
 margin-top: 5px;
display: inline-flex;
}

.checkbox-group label,
 .radio-group label {
   font-weight: normal;
   margin-right: 10px;
 }

.submit.btn {
  background: #0a4d8c;
  color: #fff;
  margin-top: 20px;
 padding: 12px;
 width: 100%;
 font-size: 16px;
 border: none;
  border-radius: 6px;
  cursor: pointer;
  border-radius: 20px;
  cursor: pointer;
}

.footer {
  background: #ffffff;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  border-top: 3px solid #0a4d8c;
}

.footer-logo {
  height: 60px;
}

.footer h4 {
  margin-bottom: 10px;
  color: #0a4d8c;
}

.footer p {
  font-size: 13px;
  margin-bottom: 5px;
}
